@import "../../../../common/StyleVariables.scss";

.card {
    background-color: $card-bg-color;
    min-width: 360px;
    margin-bottom: 20px;
    @include make-border-box(10px);
    @include raduis-without-border(10px);

    .cardTop {
        display: flex;

        .cardTitle {
            width: 95%;
            font-weight: bold;
            margin-bottom: 10px;
        }
    }

    .cardDescription {
        margin-bottom: 10px;
    }

    .CardDeadline {
        .ddln {
            font-weight: bold;
        }
    }
}